{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home_page' %}">Home</a>
        <a href="{% url 'about_page' %}">About</a>
    </header>
    <div class="wrap">
        <h1>тест2</h1>
        <a>fkjs;lfkjsl;fkjdlkf</a>
    </div>
</body>
</html>