{% extends 'base.html' %}

{% load static %}

{% block title %}Все жанры{% endblock %}


{% block content %}
<section class="categories">
    <div class="container">
        <h2 class="title">Все жанры</h2>
        <div class="categories-list">
            <a href="{% url 'films_page' %}" class="category-item">Все</a>
            {% for category in categories %} 
            <a href="{% url 'films_by_category_page' slug=category.slug %}" class="category-item">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}