{% extends 'base.html' %}

{% load static %}

{% block title %}{{ film.title }}{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<section class="film-detail">
    <div class="container">
        <h1 class="title">{{ film.title }}</h1>
        <h2 class="title">{{ film.year }}</h2>
        <h3 class="film-detail__janre">{{ film.category }}</h3>
        <div class="film-detail__video">
            <iframe width="100%" height="315" src="{{ film.film }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p class="film-detail__content">{{ film.description }}</p>
        <p class="film-detail__content"><strong>Режиссер: </strong>{{ film.director }}</p>
    </div>
</section>
{% else %}
<section class="access">
    <div class="container">
        <h1 class="title">Вы анонимный пользователь</h1>
        <p class="dark-text">Авторизируйтесь для дальнешей работы с приложением</p>
        <div class="access-action">
            <a href="{% url 'sign_up_page' %}">Регистрация</a>
            <a href="{% url 'login_page' %}">Вход</a>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}